* {
  box-sizing: border-box;
}

header {
  margin: 0px 10px;
  display: flex;
  background: black;
  color: white;
  height: 60px;
  padding-left: 30px;
  align-items: center;
  justify-content: left;
  border-radius: 5px;
  border-width: 7px;
  border-style: solid;
  border-color: #f5f9fa black ;
}

em {
  padding-left: 20px;
}

.main {
  margin: 10px;
  padding: 10px;
}

.nav {
  display: flex;
  margin: 5px 10px;
  padding: 5px 10px;
  width: 30%;
  border: 5px solid #f5f9fa;
}

.filter {
  padding: 10px;
  background-color: #f5f9fa;
  border-radius: 5px;
  border-width: 5px;
  border-style: inset solid;
  border-color: #83d0f2 black ;
}

.input-filter {
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 25px;
}

.input-filter:focus {
  outline: none;
}

.btn-sort {
  margin-left: 20px;
  padding: 5px;
  border-width: 5px;
  border-style: inset solid;
  border-radius: 5px;
  border-color: #83d0f2 black ;
  cursor: pointer;
  background-color: #f5f9fa;
}